// Font Family
$Font-style: 'Space Mono', monospace;

// Primary corol
$Strong-cyan: hsl(172, 67%, 45%);

// Neutral corol
$Error-color: 	hsl(12, 50%, 63%);
$Very-dark-cyan: hsl(183, 100%, 15%);
$Dark-grayish-cyan: hsl(186, 14%, 43%);
$Grayish-cyan: hsl(184, 14%, 56%);
$Light-grayish-cyan: hsl(185, 41%, 84%);
$Very-light-grayish-cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

// Breakpoints
$screen-sm: 576px; // Large smartphones
$screen-md: 768px; // Small tablets
$screen-lg: 992px; // Tablets
$screen-xl: 1200px; // Desktops
$screen-xxl: 1440px; // Large desktops
$my-screen: 1600px;